{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>s6</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width:device-width,initial-scale:1.0">
  <link rel="stylesheet" type="text/css" href="catalog.css">
  <link rel="stylesheet" href="{% static 'catalog/catalog.css' %}">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
</head>
<body>
<div class="w3-container w3-indigo w3-margin header" id="myHeader">
    <div class="w3-container w3-indigo w3-margin w3-center w3-xlarge w3-mobile">
      {% load static %} <img class="w3-left w3-indigo" style="height: 100px;" src="{% static "catalog/images/badge.jpg" %}" alt="home"/>
        <p>BULUCHEKE SECONDARY SCHOOL</p>
     <div class="w3-row-padding w3-container w3-margin w3-display-topright">
     <a target="_blank" title="follow us on instagram" href="http://www.instagram.com/nagulama.moses"><img alt="follow us on instagram" src="https://c866088.ssl.cf3.rackcdn.com/assets/instagram30x30.png" border=0></a>

      <a target="_blank" title="follow us on facebook" href="http://www.facebook.com/nagulama.moses"><img alt="follow us on facebook" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook30x30.png" border=0></a>

      <a target="_blank" title="follow us on google plus" href="https://plus.google.com/nagulama.moses"><img alt="follow us on google plus" src="https://c866088.ssl.cf3.rackcdn.com/assets/googleplus30x30.png" border=0></a>
      <a target="_blank" title="follow us on pinterest" href="http://www.pinterest.com/nagulama.moses"><img alt="follow us on pinterest" src="https://c866088.ssl.cf3.rackcdn.com/assets/pinterest30x30.png" border=0></a>
      <a target="_blank" title="follow us on youtube" href="http://www.youtube.com/nagulama.moses"><img alt="follow us on youtube" src="https://c866088.ssl.cf3.rackcdn.com/assets/youtube30x30.png" border=0></a>
      <a target="_blank" title="follow us on Twitter" href="http://www.twitter.com/nagulama.moses"><img alt="follow us on Twitter" src="https://c866088.ssl.cf3.rackcdn.com/assets/twitter30x30.png" border=0></a>
    </div>
    </div>

   <div class="w3-container w3-indigo w3-margin w3-mobile">
    <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-hover-text">Home</a>
      <div class="w3-dropdown-hover">
        <button class="w3-button">About Us</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
         <a href="{% url 'Future' %}" class="w3-bar-item w3-button w3-hover-text">The Future Starts Now</a>
        <a href="{% url 'fees' %}" class="w3-bar-item w3-button w3-hover-text">Fees Structure</a>
        <a href="{% url 'facilities' %}" class="w3-bar-item w3-button w3-hover-text">Facilities & Services</a>
        </div>  
        </div>
      <div class="w3-dropdown-hover">
        <button class="w3-button">The School</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="{% url 'administration' %}" class="w3-bar-item w3-button w3-hover-text">Administration</a>
        <a href="{% url 'school' %}" class="w3-bar-item w3-button w3-hover-text">School Calendar</a>
        <a href="{% url 'Gallaries' %}" class="w3-bar-item w3-button w3-hover-text">Gallaries</a>
        <a href="{% url 'Rules' %}" class="w3-bar-item w3-button w3-hover-text">Rules & Regulation</a>
        </div>  
        </div>
      <a href="{% url 'news' %}" class="w3-bar-item w3-button w3-hover-text">News</a>
        
        <div class="w3-dropdown-hover">
        <button class="w3-button">Academics</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="{% url 'holiday' %}" class="w3-bar-item w3-button w3-hover-text">Study Materials</a>
        <!--<a href="#" class="w3-bar-item w3-button w3-hover-text">Non Teaching Staff</a> -->
        <!--<a href="#" class="w3-bar-item w3-button w3-hover-text">Staff</a> -->
        </div>  
        </div>
      <a href="{% url 'honors' %}" class="w3-bar-item w3-button w3-hover-text">Co-curricular</a>
      <a href="{% url 'contact' %}" class="w3-bar-item w3-button w3-hover-text">Contact</a>
    </div>
    </div>

    <div class="w3-container w3-border w3-margin w3-round-xxlarge w3-center w3-blue">
      <p style="font-size: 1.45em"> Learning Never Stops</p>
      <p style="font-size: 1.45em">Study Materials</p>
    </div> 
    <div class="w3-container">
      <p style="font-size: 1.45em; color: red;">School/ Class Holiday work</p>
      <p style="font-size: 0.875em">In bulucheke, we ensure quality academic environment and spiritual well being of students we have excellent facilities that help us build students to be academically excellent and valuable to the world at large.</p>
    </div>
    <div class="w3-container w3-blue w3-margin w3-mobile w3-round-xxlarge">
    <a href="{% url 's1' %}" class="w3-bar-item w3-button w3-hover-text">senior 1</a>
    <a href="{% url 's2' %}" class="w3-bar-item w3-button w3-hover-text">senior 2</a>
    <a href="{% url 's3' %}" class="w3-bar-item w3-button w3-hover-text">senior 3</a>
    <a href="{% url 's4' %}" class="w3-bar-item w3-button w3-hover-text">senior 4</a>
    <a href="{% url 's5' %}" class="w3-bar-item w3-button w3-hover-text">senior 5</a>
    <a href="{% url 's6' %}" class="w3-bar-item w3-button w3-hover-text">senior 6</a>
 
    </div>
  </div>
    <div class="w3-container">
    <p >welocome to s6 work</p>
  </div>



    <footer class="w3-row-padding w3-margin w3-black">
  <div class="w3-quarter w3-padding-32">
    {% load static %} <img style="width:30%;" src="{% static "catalog/images/badge.jpg" %}" alt="home"/>
    <div class="w3-row-padding w3-container w3-margin">
      <a target="_blank" title="follow us on instagram" href="http://www.instagram.com/nagulama.moses"><img alt="follow us on instagram" src="https://c866088.ssl.cf3.rackcdn.com/assets/instagram30x30.png" border=0></a>

      <a target="_blank" title="follow us on facebook" href="http://www.facebook.com/nagulama.moses"><img alt="follow us on facebook" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook30x30.png" border=0></a>

      <a target="_blank" title="follow us on google plus" href="https://plus.google.com/nagulama.moses"><img alt="follow us on google plus" src="https://c866088.ssl.cf3.rackcdn.com/assets/googleplus30x30.png" border=0></a>
      <a target="_blank" title="follow us on pinterest" href="http://www.pinterest.com/nagulama.moses"><img alt="follow us on pinterest" src="https://c866088.ssl.cf3.rackcdn.com/assets/pinterest30x30.png" border=0></a>
      <a target="_blank" title="follow us on youtube" href="http://www.youtube.com/nagulama.moses"><img alt="follow us on youtube" src="https://c866088.ssl.cf3.rackcdn.com/assets/youtube30x30.png" border=0></a>
      <a target="_blank" title="follow us on Twitter" href="http://www.twitter.com/nagulama.moses"><img alt="follow us on Twitter" src="https://c866088.ssl.cf3.rackcdn.com/assets/twitter30x30.png" border=0></a>
    </div>
  </div>
  <div >
      <p><b>The Official website of Bulucheke Secondary school</b></p>
  </div>
  </footer>
  </body>
  </html>